#-Bayer-AG-This-website-has-been-developed-by-the-HELP-Group-a_x615_y1817{
position:absolute;
border:solid 1px black;
height:155px;
width:746px;
left:615px;
top:1817px;
color:#ffffff;
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:300;
height:155px;
letter-spacing:normal;
line-height:2;
text-align:left;
width:746px;
}
#About-us_x14_y15{
position:absolute;
border:solid 1px black;
height:12px;
width:59px;
left:14px;
top:15px;
color:#ffffff;
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:normal;
height:12px;
letter-spacing:normal;
line-height:normal;
text-align:left;
width:59px;
}
#Ellipse-3308-copy-2_x793_y616{
position:absolute;
border:solid 1px black;
height:14px;
width:14px;
left:793px;
top:616px;
background-color:#d04e6e;
border:solid 2px #d04e6e;
height:14px;
width:14px;
}
#Ellipse-3308-copy-3_x765_y616{
position:absolute;
border:solid 1px black;
height:14px;
width:14px;
left:765px;
top:616px;
background-color:#d04e6e;
border:solid 2px #d04e6e;
height:14px;
width:14px;
}
#Ellipse-3308-copy_x821_y616{
position:absolute;
border:solid 1px black;
height:14px;
width:14px;
left:821px;
top:616px;
background-image:linear-gradient(to right, var(--dark-pink), var(--dark-peach));
height:14px;
width:14px;
}
#For-Healthcare-Professionals_x103_y15{
position:absolute;
border:solid 1px black;
height:12px;
width:184px;
left:103px;
top:15px;
color:#ffffff;
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:normal;
height:12px;
letter-spacing:normal;
line-height:normal;
text-align:left;
width:184px;
}
#Frequently-Asked-Questions_x1154_y1504{
position:absolute;
border:solid 1px black;
height:48px;
width:183px;
left:1154px;
top:1504px;
color:var(--rose);
font-family:OpenSans;
font-size:20px;
font-stretch:normal;
font-style:normal;
font-weight:bold;
height:48px;
letter-spacing:0.8px;
line-height:1.4;
text-align:center;
width:183px;
}
#Improve-your-Life_x545_y1504{
position:absolute;
border:solid 1px black;
height:21px;
width:186px;
left:545px;
top:1504px;
color:var(--rose);
font-family:OpenSans;
font-size:20px;
font-stretch:normal;
font-style:normal;
font-weight:bold;
height:21px;
letter-spacing:0.8px;
line-height:3.5;
text-align:center;
width:186px;
}
#Layer-1_x116_y138{
position:absolute;
border:solid 1px black;
height:62px;
width:470px;
left:116px;
top:138px;
height:62px;
width:470px;
}
#Layer-1_x1199_y1395{
position:absolute;
border:solid 1px black;
height:80px;
width:103px;
left:1199px;
top:1395px;
height:80px;
width:103px;
}
#Layer-1_x1436_y124{
position:absolute;
border:solid 1px black;
height:90px;
width:164px;
left:1436px;
top:124px;
height:90px;
width:164px;
}
#Layer-1_x1540_y1655{
position:absolute;
border:solid 1px black;
height:17px;
width:31px;
left:1540px;
top:1655px;
height:17px;
width:31px;
}
#Layer-1_x1571_y19{
position:absolute;
border:solid 1px black;
height:8px;
width:14px;
left:1571px;
top:19px;
height:8px;
width:14px;
}
#Layer-1_x15_y59{
position:absolute;
border:solid 1px black;
height:15px;
width:20px;
left:15px;
top:59px;
height:15px;
width:20px;
}
#Layer-1_x471_y1505{
position:absolute;
border:solid 1px black;
height:17px;
width:10px;
left:471px;
top:1505px;
height:17px;
width:10px;
}
#Layer-1_x744_y1505{
position:absolute;
border:solid 1px black;
height:17px;
width:10px;
left:744px;
top:1505px;
height:17px;
width:10px;
}
#Learn-about-HMB_x146_y494{
position:absolute;
border:solid 1px black;
height:17px;
width:182px;
left:146px;
top:494px;
color:#ffffff;
font-family:OpenSans;
font-size:20px;
font-stretch:normal;
font-style:normal;
font-weight:bold;
height:17px;
letter-spacing:0.8px;
line-height:3.5;
text-align:left;
width:182px;
}
#Lets-chat-heavy-periods_x1117_y717{
position:absolute;
border:solid 1px black;
height:70px;
width:223px;
left:1117px;
top:717px;
color:var(--grape);
font-family:OpenSans;
font-size:32px;
font-stretch:normal;
font-style:normal;
font-weight:300;
height:70px;
letter-spacing:normal;
line-height:1.16;
text-align:left;
width:223px;
}
#Lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-d_x1120_y1600{
position:absolute;
border:solid 1px black;
height:34px;
width:260px;
left:1120px;
top:1600px;
color:var(--greyish-brown-two);
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:300;
height:34px;
letter-spacing:normal;
line-height:1.36;
text-align:center;
width:260px;
}
#Lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-d_x221_y1600{
position:absolute;
border:solid 1px black;
height:34px;
width:260px;
left:221px;
top:1600px;
color:var(--greyish-brown-two);
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:300;
height:34px;
letter-spacing:normal;
line-height:1.36;
text-align:center;
width:260px;
}
#Lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-d_x520_y1600{
position:absolute;
border:solid 1px black;
height:34px;
width:260px;
left:520px;
top:1600px;
color:var(--greyish-brown-two);
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:300;
height:34px;
letter-spacing:normal;
line-height:1.36;
text-align:center;
width:260px;
}
#Lorem-ipsum-dolor-sit-amet-consectetuer-adipiscing-elit-sed-d_x820_y1600{
position:absolute;
border:solid 1px black;
height:34px;
width:260px;
left:820px;
top:1600px;
color:var(--greyish-brown-two);
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:300;
height:34px;
letter-spacing:normal;
line-height:1.36;
text-align:center;
width:260px;
}
#Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Aenean_x1116_y832{
position:absolute;
border:solid 1px black;
height:233px;
width:263px;
left:1116px;
top:832px;
color:var(--rose);
font-family:OpenSans;
font-size:22px;
font-stretch:normal;
font-style:normal;
font-weight:bold;
height:233px;
letter-spacing:normal;
line-height:1.59;
text-align:left;
width:263px;
}
#Play-video_x627_y1132{
position:absolute;
border:solid 1px black;
height:17px;
width:85px;
left:627px;
top:1132px;
color:#ffffff;
font-family:OpenSans;
font-size:16px;
font-stretch:normal;
font-style:normal;
font-weight:bold;
height:17px;
letter-spacing:0.6px;
line-height:4.38;
text-align:left;
width:85px;
}
#Prepare-for-your-doctor-visit_x851_y1504{
position:absolute;
border:solid 1px black;
height:45px;
width:174px;
left:851px;
top:1504px;
color:var(--rose);
font-family:OpenSans;
font-size:20px;
font-stretch:normal;
font-style:normal;
font-weight:bold;
height:45px;
letter-spacing:0.8px;
line-height:1.4;
text-align:center;
width:174px;
}
#Privacy-Statement-Conditions-of-Use-Imprint-About-Us-Sitemap-Re_x215_y1817{
position:absolute;
border:solid 1px black;
height:155px;
width:123px;
left:215px;
top:1817px;
color:#ffffff;
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:300;
height:155px;
letter-spacing:normal;
line-height:2;
text-align:left;
width:123px;
}
#Rectangle-2_x115_y479{
position:absolute;
border:solid 1px black;
height:50px;
width:243px;
left:115px;
top:479px;
background-image:linear-gradient(to right, var(--dark-pink), var(--dark-peach));
border-radius:25px;
height:50px;
width:243px;
}
#Rectangle-3-copy-2_x1115_y1157{
position:absolute;
border:solid 1px black;
height:50px;
width:269px;
left:1115px;
top:1157px;
background-image:linear-gradient(to right, var(--dark-pink), var(--dark-peach));
border-radius:25px;
height:50px;
width:269px;
}
#Rectangle-3468_x1285_y54{
position:absolute;
border:solid 1px black;
height:25px;
width:200px;
left:1285px;
top:54px;
background-color:var(--blush);
border:solid 1px var(--blush);
height:25px;
width:200px;
}
#Rectangle-3_x557_y1115{
position:absolute;
border:solid 1px black;
height:50px;
width:185px;
left:557px;
top:1115px;
background-image:linear-gradient(to right, var(--dark-pink), var(--dark-peach));
border-radius:25px;
height:50px;
width:185px;
}
#Rectangle-4-copy_x0_y1724{
position:absolute;
border:solid 1px black;
height:338px;
width:1600px;
left:0px;
top:1724px;
background-color:var(--cool-grey);
height:338px;
width:1600px;
}
#Rectangle-4_x0_y1301{
position:absolute;
border:solid 1px black;
height:423px;
width:1600px;
left:0px;
top:1301px;
background-color:var(--pale-grey-two);
height:423px;
width:1600px;
}
#Rectangle-5_x0_y88{
position:absolute;
border:solid 1px black;
height:535px;
width:648px;
left:0px;
top:88px;
background-image:linear-gradient(to right, rgba(250, 248, 251, 0.76) 65%, rgba(255, 255, 255, 0.1) 96%);
height:535px;
width:648px;
}
#Search_x1300_y61{
position:absolute;
border:solid 1px black;
height:9px;
width:37px;
left:1300px;
top:61px;
color:#ffffff;
font-family:OpenSans;
font-size:12px;
font-stretch:normal;
font-style:normal;
font-weight:normal;
height:9px;
letter-spacing:normal;
line-height:normal;
text-align:left;
width:37px;
}
#Select-your-country_x1435_y15{
position:absolute;
border:solid 1px black;
height:15px;
width:126px;
left:1435px;
top:15px;
color:#ffffff;
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:normal;
height:15px;
letter-spacing:normal;
line-height:normal;
text-align:right;
width:126px;
}
#Share_x1549_y59{
position:absolute;
border:solid 1px black;
height:12px;
width:36px;
left:1549px;
top:59px;
color:#ffffff;
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:normal;
height:12px;
letter-spacing:normal;
line-height:normal;
text-align:right;
width:36px;
}
#Talk-about-your-Period_x218_y1504{
position:absolute;
border:solid 1px black;
height:21px;
width:240px;
left:218px;
top:1504px;
color:var(--rose);
font-family:OpenSans;
font-size:20px;
font-stretch:normal;
font-style:normal;
font-weight:bold;
height:21px;
letter-spacing:0.8px;
line-height:3.5;
text-align:center;
width:240px;
}
#Try-our-HMB-impact-assessment_x1129_y1108{
position:absolute;
border:solid 1px black;
height:30px;
width:144px;
left:1129px;
top:1108px;
color:var(--grape);
font-family:OpenSans;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:600;
height:30px;
letter-spacing:0.6px;
line-height:1.29;
text-align:left;
width:144px;
}
#Vector-Smart-Object_x1525_y1634{
position:absolute;
border:solid 1px black;
height:60px;
width:60px;
left:1525px;
top:1634px;
background-image:linear-gradient(to right, var(--dark-pink), var(--dark-peach));
box-shadow:2.1px 2.1px 36px 0 rgba(0, 0, 0, 0.2);
height:60px;
width:60px;
}
#Visit_x1229_y1174{
position:absolute;
border:solid 1px black;
height:15px;
width:42px;
left:1229px;
top:1174px;
color:#ffffff;
font-family:OpenSans;
font-size:18px;
font-stretch:normal;
font-style:normal;
font-weight:bold;
height:15px;
letter-spacing:0.7px;
line-height:3.89;
text-align:left;
width:42px;
}
#What-is-heavy-menstrual-bleeding-Proin-sodales-pulvinar-tem_x116_y331{
position:absolute;
border:solid 1px black;
height:110px;
width:547px;
left:116px;
top:331px;
color:var(--grape);
font-family:OpenSans;
font-size:36px;
font-stretch:normal;
font-style:normal;
font-weight:300;
height:110px;
letter-spacing:normal;
line-height:1.28;
text-align:left;
width:547px;
}
#element_x1456_y60{
position:absolute;
border:solid 1px black;
height:14px;
width:14px;
left:1456px;
top:60px;
color:#ffffff;
font-family:icomoon;
font-size:14px;
font-stretch:normal;
font-style:normal;
font-weight:normal;
height:14px;
letter-spacing:normal;
line-height:2;
text-align:left;
width:14px;
}
#header-box-copy_x0_y0{
position:absolute;
border:solid 1px black;
height:44px;
width:1600px;
left:0px;
top:0px;
background-color:var(--cool-grey);
height:44px;
width:1600px;
}
#header-box_x0_y44{
position:absolute;
border:solid 1px black;
height:44px;
width:1600px;
left:0px;
top:44px;
background-image:linear-gradient(to right, var(--dark-pink), var(--dark-peach));
height:44px;
width:1600px;
}
#header-image_x0_y88{
position:absolute;
border:solid 1px black;
height:535px;
width:1600px;
left:0px;
top:88px;
background-color:#eeede8;
height:535px;
width:1600px;
}
#icon-doctor-visit_x899_y1395{
position:absolute;
border:solid 1px black;
height:80px;
width:103px;
left:899px;
top:1395px;
height:80px;
width:103px;
}
#icon-improve-your-life_x599_y1395{
position:absolute;
border:solid 1px black;
height:80px;
width:103px;
left:599px;
top:1395px;
height:80px;
width:103px;
}
#icon-lets-talk-about-your-period_x299_y1395{
position:absolute;
border:solid 1px black;
height:80px;
width:103px;
left:299px;
top:1395px;
height:80px;
width:103px;
}
#icon-play_x587_y1130{
position:absolute;
border:solid 1px black;
height:20px;
width:20px;
left:587px;
top:1130px;
background-color:#ffffff;
height:20px;
width:20px;
}
#icon-share_x1515_y56{
position:absolute;
border:solid 1px black;
height:20px;
width:20px;
left:1515px;
top:56px;
background-color:var(--rose);
height:20px;
width:20px;
}
#line-copy_x1115_y799{
position:absolute;
border:solid 1px black;
height:3px;
width:84px;
left:1115px;
top:799px;
background-color:var(--blush);
height:3px;
width:84px;
}
#line_x1208_y1568{
position:absolute;
border:solid 1px black;
height:3px;
width:84px;
left:1208px;
top:1568px;
background-color:var(--blush);
height:3px;
width:84px;
}
#line_x308_y1568{
position:absolute;
border:solid 1px black;
height:3px;
width:84px;
left:308px;
top:1568px;
background-color:var(--blush);
height:3px;
width:84px;
}
#line_x608_y1568{
position:absolute;
border:solid 1px black;
height:3px;
width:84px;
left:608px;
top:1568px;
background-color:var(--blush);
height:3px;
width:84px;
}
#line_x908_y1568{
position:absolute;
border:solid 1px black;
height:3px;
width:84px;
left:908px;
top:1568px;
background-color:var(--blush);
height:3px;
width:84px;
}
#link-arrow_x1011_y1534{
position:absolute;
border:solid 1px black;
height:17px;
width:10px;
left:1011px;
top:1534px;
background-color:var(--rose);
height:17px;
width:10px;
}
#link-arrow_x1311_y1534{
position:absolute;
border:solid 1px black;
height:17px;
width:10px;
left:1311px;
top:1534px;
background-color:var(--rose);
height:17px;
width:10px;
}
#video_x215_y717{
position:absolute;
border:solid 1px black;
height:490px;
width:870px;
left:215px;
top:717px;
height:490px;
width:870px;
}
